.main{
    display: flex;
    justify-content: center;
    height:100vh;
    overflow:hidden;
}

.locationlist{
    padding: 2vh 2vw 8vh 2vw;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
    height:100vh;
}

.locationlist::-webkit-scrollbar {
    display: none;
  }

.locationelement{
    margin-bottom: 6vh;
}

.left{
    padding: 3vh 5vw;
    flex: .5 1;
    justify-content: center;
    align-items: center;
    
}

.right{
    flex:.5;
    margin:auto;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94%;
}

form{
    justify-content: left;
    align-items: left;
    width:80%;
    transition: all .5s;
}
.form-group label{
    float: left;
}
.form-group{
    margin-bottom: .7rem;
}